.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--space-m-l);
}

.logo {
  width: var(--space-xl);
  height: auto;
}

.links {
  display: flex;
  flex-direction: row;
  gap: var(--space-l);
}

.link {
  font-family: 'Roboto Slab';
  font-size: var(--l);
}

.menu {
  display: none;
  border: none;
  background: none;
  font-family: 'Cormorant';
  font-size: var(--xl);
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .menu {
    display: block;
  }
}