.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-l-xl);
}

.logo {
  width: var(--space-xl-5xl);
  height: var(--space-xl-5xl);
}

.links {
  display: flex;
  flex-direction: row;
  gap: var(--space-m);
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 320px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xs);
  }
}