.wrapper {
  padding: var(--space-20-40) var(--space-40-60-wide);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (width <= 1480px) {
    padding: var(--space-20-40) var(--space-30-40);
  }

  @media only screen and (width <= 768px) {
    display: none;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: var(--space-40-50);
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--space-40-50);
  &:after {
    content: '';
    width: var(--space-40-60);
    height: 1px;
    background-color: var(--black);
  }
}
