.wrapper {
  padding: var(--space-30-40) 0;

  &__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation {
  display: flex;
  gap: var(--space-30-40);
}

.links {
  display: flex;
  align-items: center;
  gap: var(--space-30-40);
  list-style: none;

  &::after {
    display: block;
    content: '';
    width: var(--space-40-60);
    height: 1px;
    background: var(--accent-secondary);
  }
}
