@import '@/style/normalize.scss';
@import '@/style/colors.scss';
@import '@/style/fonts.scss';

/* Grid dimensions */

:root {
  --grid-max-width: 90.00rem;
  --grid-gutter: var(--space-m-l, clamp(1.25rem, 0.9643rem + 1.4286vw, 2.25rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}