:root {
  // 11.06px → 11.52px
  --font-xs: clamp(0.6914rem, 0.6814rem + 0.0498vi, 0.72rem);
  // 12.44px → 14.40px
  --font-s: clamp(0.7778rem, 0.7353rem + 0.2126vi, 0.9rem);
  // 14px → 18px
  --font-m: clamp(0.875rem, 0.788rem + 0.4348vi, 1.125rem);
  // 15.75px → 22.50px
  --font-l: clamp(0.9844rem, 0.8376rem + 0.7337vi, 1.4063rem);
  // 17.72px → 28.13px
  --font-xl: clamp(1.1074rem, 0.8812rem + 1.1311vi, 1.7578rem);
  // 19.93px → 35.16px
  --font-2xl: clamp(1.2458rem, 0.9149rem + 1.6546vi, 2.1973rem);
  // 22.43px → 43.945px
  --font-3xl: clamp(1.4016rem, 0.9338rem + 2.3391vi, 2.7466rem);
  // 25.23px → 54.93px
  --font-4xl: clamp(1.5768rem, 0.9311rem + 3.2286vi, 3.4332rem);
}
