body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gutter);
}

.content-wrapper {
  padding-top: var(--space-2xl-6xl);
  padding-bottom: var(--space-2xl-7xl);
}

.content-narrow {
  grid-column: 4 / 10;
}

@media only screen and (width <= 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .content-narrow {
    grid-column: 2 / 6;
  }
}

@media only screen and (width <= 480px) {
  .content-narrow {
    grid-column: span 6;
  }
}
