body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: var(--font-m);
  line-height: var(--font-line-height-m);
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gutter);
}

.heading {
  font-family: var(--font-roboto-condensed);
}

.link {
  text-decoration: none;
  color: var(--color-black);

  &--dropdown {
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  &--underline:hover,
  &--dropdown:hover {
    border-bottom: 3px solid var(--color-accent-red);
    padding-bottom: 3px;
  }

  &--color:hover {
    color: var(--color-accent-red);
  }

  &--post {
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 1px;

    &:hover {
      color: var(--color-accent-red);
      border-bottom: 1px solid var(--color-accent-red);
    }
  }
}

@media only screen and (width <= 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
