.container {
  display: flex;
  margin-top: var(--space-l-3xl);
  margin-bottom: var(--space-l-xl);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs-l);
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  gap: var(--space-m);
  align-items: center;
  list-style: none;
  margin: 0;
  /* To remove default bottom margin */
  padding: 0;
  /* To remove default left padding */
}

.icon {
  width: var(--space-l);
  height: var(--space-l);
  display: flex;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    gap: var(--space-l-xl);
  }

  .social {
    flex-direction: column;
    gap: var(--space-xs-l);
  }
}