.wrapper {
  grid-column: span 4;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
}

.title {
  padding-top: var(--space-10-15);
  text-align: right;
}

@media only screen and (width <= 768px) {
  .wrapper {
    grid-column: span 3;
  }
}

@media only screen and (width <= 480px) {
  .wrapper {
    grid-column: span 2;
  }
}
