.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs-2xs);
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-roboto-condensed);
  font-size: var(--font-xl);
  font-weight: 500;
  line-height: var(--font-line-height-m);
}

.subtitle {
  font-size: var(--font-m);
  font-weight: 300;
}
