:root {
  /* Space s: 14px → 18px */
  --space-s: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);

  /* Space m: 20px → 25px */
  --space-m: clamp(1.25rem, 1.1413rem + 0.5435vw, 1.5625rem);

  /* Space l: 28px → 36px */
  --space-l: clamp(1.75rem, 1.5761rem + 0.8696vw, 2.25rem);

  /* Space 3xl: 70px → 90px */
  --space-2xl: clamp(4.375rem, 3.9402rem + 2.1739vw, 5.625rem);

  /* One-up pairs */

  /* Space s-m: 14px → 25px */
  --space-s-m: clamp(0.875rem, 0.6359rem + 1.1957vw, 1.5625rem);

  /* Space m-l: 20px → 36px */
  --space-m-l: clamp(1.25rem, 0.9022rem + 1.7391vw, 2.25rem);
}
