.wrapper {
  display: none;

  @media only screen and (width <= 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__button {
    border: none;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    width: var(--space-20-25);
    height: var(--space-20-25);
  }
}

.nav-items-wrapper {
  display: none;

  @media only screen and (width <= 1024px) {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding-top: var(--space-30-40);
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--space-30-40);
}
