.heading {
  font-family: var(--font-roboto-condensed);

  &--bold-3xl-125 {
    font-size: var(--font-3xl);
    font-weight: 700;
    line-height: var(--font-line-height-l);
  }

  &--medium-2xl-125 {
    font-size: var(--font-2xl);
    font-weight: 500;
    line-height: var(--font-line-height-l);
  }

  &--medium-xl-125 {
    font-size: var(--font-xl);
    font-weight: 500;
    line-height: var(--font-line-height-l);
  }

  &--medium-xl-100 {
    font-size: var(--font-xl);
    font-weight: 500;
    line-height: var(--font-line-height-m);
  }

  &--medium-l-125 {
    font-size: var(--font-l);
    font-weight: 500;
    line-height: var(--font-line-height-l);
  }

  &--regular-l-125 {
    font-size: var(--font-l);
    font-weight: 400;
    line-height: var(--font-line-height-l);
  }

  &--medium-m-125 {
    font-size: var(--font-m);
    font-weight: 500;
    line-height: var(--font-line-height-l);
  }

  &--regular-m-100 {
    font-size: var(--font-m);
    font-weight: 400;
    line-height: var(--font-line-height-m);
  }

  &--medium-s-125 {
    font-size: var(--font-s);
    font-weight: 500;
    line-height: var(--font-line-height-l);
  }

  &--regular-s-100 {
    font-size: var(--font-s);
    font-weight: 400;
    line-height: var(--font-line-height-m);
  }

  &--medium-xs-125 {
    font-size: var(--font-xs);
    font-weight: 500;
    line-height: var(--font-line-height-l);
  }
}

.paragraph {
  font-family: var(--font-roboto);

  &--light-l-125 {
    font-size: var(--font-l);
    font-weight: 300;
    line-height: var(--font-line-height-l);
  }

  &--medium-m-100 {
    font-size: var(--font-m);
    font-weight: 500;
    line-height: var(--font-line-height-m);
  }

  &--regular-m-100 {
    font-size: var(--font-m);
    font-weight: 400;
    line-height: var(--font-line-height-m);
  }

  &--light-m-150 {
    font-size: var(--font-m);
    font-weight: 300;
    line-height: var(--font-line-height-xl);
  }

  &--light-m-125 {
    font-size: var(--font-m);
    font-weight: 300;
    line-height: var(--font-line-height-l);
  }

  &--regular-s-100 {
    font-size: var(--font-s);
    font-weight: 400;
    line-height: var(--font-line-height-m);
  }

  &--light-s-125 {
    font-size: var(--font-s);
    font-weight: 300;
    line-height: var(--font-line-height-l);
  }

  &--light-s-100 {
    font-size: var(--font-s);
    font-weight: 300;
    line-height: var(--font-line-height-m);
  }

  &--light-xs-125 {
    font-size: var(--font-xs);
    font-weight: 300;
    line-height: var(--font-line-height-l);
  }
}

.link {
  text-decoration: none;
  color: var(--color-black);

  &--dropdown {
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  &--underline:hover,
  &--dropdown:hover {
    border-bottom: 3px solid var(--color-accent-red);
    padding-bottom: 3px;
  }

  &--color:hover {
    color: var(--color-accent-red);
  }

  &--post {
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 1px;

    &:hover {
      color: var(--color-accent-red);
      border-bottom: 1px solid var(--color-accent-red);
    }
  }
}
