.wrapper {
  padding-top: var(--space-80-120);
}

.widgets {
  padding-top: var(--space-30-40);
  padding-bottom: var(--space-30-40);
  background-color: var(--background-secondary);
}

.copyright {
  display: flex;
  justify-content: center;
  padding: var(--space-15-20) 0;
}
