.wrapper {
  padding-top: var(--space-90-120);
  display: flex;
  justify-content: center;
}

.button {
  background: var(--black);
  color: var(--white);
  padding: var(--space-15-20) var(--space-60-120);
}
