.wrapper {
  &--desktop {
    padding: var(--space-20-40) var(--space-40-60-wide);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (width <= 1480px) {
      padding: var(--space-20-40) var(--space-30-40);
    }

    @media only screen and (width <= 768px) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media only screen and (width <= 768px) {
      display: block;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: var(--space-40-50);
}

.links {
  display: flex;
  list-style: none;

  &--desktop {
    align-items: center;
    gap: var(--space-40-50);

    &::after {
      content: '';
      width: var(--space-40-60);
      height: 1px;
      background-color: var(--black);
    }
  }

  &--mobile {
    flex-direction: column;
    gap: var(--space-10-15);
    padding-left: var(--space-30-40);
    width: max-content;
  }
}

.menu {
  &__stripe {
    padding: var(--space-20-40) var(--space-30-40);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    display: block;
    border: none;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }
}
