%image {
  width: 100%;
  height: auto;
}

.wrapper {
  &--book {
    grid-column: span 2;

    @media only screen and (width <= 480px) {
      grid-column: span 1;
    }
  }

  &--blogpost,
  &--project {
    grid-column: span 4;

    @media only screen and (width <= 768px) {
      grid-column: span 3;
    }

    @media only screen and (width <= 480px) {
      grid-column: span 2;
    }
  }
}

.image {
  &--book {
    @extend %image;

    aspect-ratio: 2 / 3;
  }

  &--blogpost,
  &--project {
    @extend %image;

    aspect-ratio: 4 / 3;
  }
}

.description {
  padding-top: var(--space-10-15);
}

.title {
  &--project {
    text-align: right;
  }
}

.meta {
  &--blogpost {
    display: flex;
    gap: var(--space-30-40);
  }
}

.excerpt {
  &--blogpost {
    padding-top: var(--space-10-15);
    color: var(--black);
  }
}
