.wrapper {
  padding-top: var(--space-5xl-7xl);
  row-gap: var(--space-xs-s);
}

.title {
  &--page {
    grid-column: span 7;
  }

  &--post {
    grid-column: 4 / 10;
  }
}

.subtitle {
  &--page {
    grid-column: span 6;
  }

  &--post {
    grid-column: 4 / 10;
  }
}

.meta {
  grid-column: 4 / 10;
}

@media only screen and (width <= 768px) {
  .title,
  .subtitle,
  .meta {
    grid-column: span 6;
  }
}
