.wrapper {
  padding-top: var(--space-5xl-7xl);
  row-gap: var(--space-xs-s);
}

.title {
  font-size: var(--font-3xl);
  font-weight: 700;
  line-height: var(--font-line-height-l);
  &--page {
    grid-column: span 7;
  }
  &--post {
    grid-column: 4 / 10;
  }
}

.subtitle {
  font-weight: 300;
  line-height: var(--font-line-height-l);
  font-size: var(--font-l);
  &--page {
    grid-column: span 6;
  }
  &--post {
    grid-column: 4 / 10;
  }
}

.meta {
  font-size: var(--font-s);
  grid-column: 4 / 10;
}

@media only screen and (width <= 768px) {
  .title,
  .subtitle,
  .meta {
    grid-column: span 6;
  }
}
