@import '@/style/normalize.scss';
@import '@/style/colors.scss';
@import '@/style/spaces.scss';

/* Grid dimensions */

:root {
  --grid-max-width: 90rem;
  --grid-gutter: var(
    --space-m-l,
    clamp(1.25rem, 0.9643rem + 1.4286vw, 2.25rem)
  );
  --grid-columns: 12;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: var(--font-m);
  line-height: 125%;
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gutter);
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
