/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Set core root defaults */

html {
  scroll-behavior: smooth;
}


/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* scroll-behavior: smooth; */
}


/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body,
#root {
  height: 100%;
}

iframe {
  max-width: 100%;
}


/* Grid & container */

:root {
  --grid-max-width: 83.25rem;
  --grid-gutter: var(--space-m-l, clamp(1.25rem, 0.9338rem + 1.581vw, 2.25rem));
  --grid-columns: 12;
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--grid-gutter);
}


/* Font faces */

@font-face {
  font-family: 'Cormorant';
  src: url(../public/fonts/cormorant-variable.ttf);
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(../public/fonts/roboto-slab-variable.ttf);
}

@font-face {
  font-family: 'Work Sans';
  src: url(../public/fonts/work-sans-variable.ttf);
}


/* Font sizes */

:root {
  /* Step -2: 9.72px → 11.52px */
  --xs: clamp(0.6075rem, 0.5719rem + 0.1779vw, 0.72rem);

  /* Step -1: 11.67px → 14.40px */
  --s: clamp(0.7294rem, 0.6754rem + 0.2698vw, 0.9rem);

  /* Step 0: 14.00px → 18.00px */
  --m: clamp(0.875rem, 0.7959rem + 0.3953vw, 1.125rem);

  /* Step 1: 16.80px → 22.50px */
  --l: clamp(1.05rem, 0.9374rem + 0.5632vw, 1.4063rem);

  /* Step 2: 20.16px → 28.13px */
  --xl: clamp(1.26rem, 1.1025rem + 0.7875vw, 1.7581rem);

  /* Step 3: 24.19px → 35.16px */
  --xxl: clamp(1.5119rem, 1.2951rem + 1.084vw, 2.1975rem);

  /* Step 4: 29.03px → 43.95px */
  --xxxl: clamp(1.8144rem, 1.5195rem + 1.4743vw, 2.7469rem);
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant';
}

h1 {
  font-size: var(--xxxl);
}

h2 {
  font-size: var(--xxl);
}

h3 {
  font-size: var(--xl);
}

h4 {
  font-size: var(--l);
}

h5 {
  font-size: var(--m);
}

h6 {
  font-size: var(--s);
}


/* Spacing */

:root {
  /* Space s: 14px → 18px */
  --space-s: clamp(0.875rem, 0.7959rem + 0.3953vw, 1.125rem);

  /* Space m: 20px → 25px */
  --space-m: clamp(1.25rem, 1.1512rem + 0.4941vw, 1.5625rem);

  /* Space l: 28px → 36px */
  --space-l: clamp(1.75rem, 1.5919rem + 0.7905vw, 2.25rem);

  /* Space xl: 56px → 72px */
  --space-xl: clamp(3.5rem, 3.1838rem + 1.581vw, 4.5rem);

  /* One-up pairs */
  /* Space s-m: 14px → 25px */
  --space-s-m: clamp(0.875rem, 0.6576rem + 1.087vw, 1.5625rem);

  /* Space m-l: 20px → 36px */
  --space-m-l: clamp(1.25rem, 0.9338rem + 1.581vw, 2.25rem);

  /* Space l-xl: 28px → 72px */
  --space-l-xl: clamp(1.75rem, 0.8804rem + 4.3478vw, 4.5rem);

  /* Custom pairs */
}