@import '@/style/normalize';
@import '@/style/colors';
@import '@/style/spaces';

// Grid dimensions

:root {
  --grid-max-width: 90rem;
  --grid-gutter: var(
    --space-m-l,
    clamp(1.25rem, 0.9643rem + 1.4286vw, 2.25rem)
  );
  --grid-columns: 12;
}

// Global classes

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: var(--font-m);
  line-height: 125%;
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gutter);
}

.link-underline {
  text-decoration: none;
  color: var(--color-black);

  &:hover {
    border-bottom: 2px solid var(--color-black);
    padding-bottom: 2px;
  }
}

.link-color {
  text-decoration: none;
  color: var(--color-black);

  &:hover {
    color: var(--color-accent-red);
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
