.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 72px;
}

.navigation-left {
  display: flex;
  gap: 36px;
}

.title {
  font-size: var(--size-l);
  font-family: var(--font-cormorant);
  font-weight: 600;
}

.navigation-right {
  list-style: none;
  display: flex;
  gap: 36px;
  font-size: var(--size-s);
}
