.images {
  grid-column-start: 2;
  grid-column-end: 7;
  width: 100%;
  background-color: #eabf7f;
}

@media only screen and (width <= 768px) {
  .images {
    grid-column-start: span 6;
    grid-column-end: auto;
  }
}
