.link {
  text-decoration: none;
  color: var(--color-black);
}

.underline {
  &:hover {
    border-bottom: 2px solid var(--color-black);
    padding-bottom: 2px;
  }
}

.color {
  &:hover {
    color: var(--color-accent-red);
  }
}
