.wrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--space-m-l);
  align-items: center;
}

.left {
  display: flex;
  gap: var(--space-m-l);
  align-items: center;
  color: var(--color-black);
  text-decoration: none;
}

.logo {
  width: var(--space-xl-3xl);
  height: var(--space-xl-3xl);
  aspect-ratio: 1 / 1;
}

.title {
  font-weight: 500;
  line-height: 100%;
}

.right-desktop {
  list-style: none;
  display: flex;
  gap: var(--space-m-l);
  font-family: var(--font-roboto-condensed);
  line-height: 100%;
}

.right-mobile {
  list-style: none;
  display: none;
  font-family: var(--font-roboto-condensed);
  line-height: 100%;
}

@media only screen and (width <= 480px) {
  .right-desktop {
    display: none;
  }

  .right-mobile {
    display: block;
  }
}
