.wrapper {
  padding-top: 72px;
  row-gap: 20px;
}

.title {
  font-size: var(--size-4xl);
  font-family: var(--font-cormorant);
  font-weight: 600;
  line-height: 120%;
  grid-column-start: 3;
  grid-column-end: 11;
}

.subtitle {
  font-size: var(--size-l);
  font-weight: 200;
  line-height: 150%;
  grid-column-start: 3;
  grid-column-end: 11;
}
