.wrapper {
  padding-top: var(--space-5xl-7xl);
  row-gap: var(--space-xs-s);
}

.title {
  grid-column-start: span 7;
  font-family: var(--font-roboto-condensed);
  font-size: var(--font-3xl);
  font-weight: 700;
  line-height: 125%;
}

.subtitle {
  grid-column-start: span 6;
  font-size: var(--font-l);
  font-weight: 300;
  line-height: 125%;
}

@media only screen and (width <= 768px) {
  .title,
  .subtitle {
    grid-column-start: span 6;
  }
}
