.wrapper {
  grid-column-start: span 4;
}

.image {
  width: 100%;
  background-color: #eabf7f;
  aspect-ratio: 4 / 3;
}

.meta {
  font-size: var(--font-s);
  font-weight: 300;
  line-height: 100%;
  padding-top: var(--space-xs-s);
}

.title {
  font-family: var(--font-roboto-condensed);
  font-size: var(--font-l);
  padding-top: var(--space-4xs);
}

@media only screen and (width <= 768px) {
  .wrapper {
    grid-column-start: span 3;
  }
}

@media only screen and (width <= 480px) {
  .wrapper {
    grid-column-start: span 6;
  }
}
