.wrapper-desktop {
  padding: var(--space-20-40) var(--space-40-60-wide);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (width <= 1480px) {
    padding: var(--space-20-40) var(--space-30-40);
  }

  @media only screen and (width <= 768px) {
    display: none;
  }
}

.navigation-desktop {
  display: flex;
  align-items: center;
  gap: var(--space-40-50);
}

.links-desktop {
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--space-40-50);

  &::after {
    content: '';
    width: var(--space-40-60);
    height: 1px;
    background-color: var(--black);
  }
}

.wrapper-mobile {
  display: none;

  @media only screen and (width <= 768px) {
    display: block;
  }

  &__menu-stripe-mobile {
    padding: var(--space-20-40) var(--space-30-40);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-button-mobile {
  display: block;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

.links-mobile {
  display: flex;
  flex-direction: column;
  gap: var(--space-10-15);
  list-style: none;
  padding-left: var(--space-30-40);
  width: max-content;
}
