.wrapper {
  padding-top: var(--space-2xl-6xl);
  padding-bottom: var(--space-2xl-7xl);
}

.description {
  grid-column-start: 7;
  grid-column-end: 12;
}

@media only screen and (width <= 768px) {
  .description {
    grid-column-start: span 6;
    grid-column-end: auto;
  }
}
