.wrapper {
  display: none;
}

.links {
  list-style: none;
  position: absolute;
  padding-top: var(--space-20-40);
  left: var(--space-30-40);
}

.menu {
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (width <= 768px) {
  .wrapper {
    display: block;
    border: none;
    background: none;
  }
}
