.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.style {
  &--extended {
    display: block;
  }

  &--default {
    display: none;
  }
}

.icons {
  display: flex;
  gap: 20px;
  list-style: none;
}

.icon {
  width: var(--space-20-25);
  height: var(--space-20-25);
}
