.wrapper {
  padding-top: var(--space-90-120);
}

.heading {
  &--left {
    grid-column: span 5;

    @media only screen and (width <= 768px) {
      grid-column: span 6;
    }

    @media only screen and (width <= 480px) {
      grid-column: span 2;
    }
  }

  &--centered {
    grid-column: 4 / 10;
    text-align: center;

    @media only screen and (width <= 768px) {
      grid-column: span 6;
    }

    @media only screen and (width <= 480px) {
      grid-column: span 2;
    }
  }
}

.separator {
  &::after {
    display: block;
    content: '';
    width: var(--space-80-120);
    height: 1px;
    background: var(--black);
    margin: var(--space-20-30) auto;
  }
}

.meta {
  display: flex;
  justify-content: center;
  gap: var(--space-30-40);
}
