.image-container {
  display: flex;
  align-items: center;

  &--wide {
    grid-column: 3 / 11;
  }

  &--wide-half {
    grid-column: 1 / 7;
  }

  &--left {
    grid-column: 3 / 7;
  }

  &--right {
    grid-column: 7 / 11;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4xs);
}

.image {
  height: auto;
}

@media only screen and (width <= 768px) {
  .image-container {
    &--wide,
    &--wide-half {
      grid-column: span 6;
    }

    &--left {
      grid-column: 1 / 4;
    }

    &--right {
      grid-column: 4 / 7;
    }
  }
}

@media only screen and (width <= 480px) {
  .image-container {
    &--wide,
    &--wide-half,
    &--left,
    &--right {
      grid-column: span 6;
    }
  }
}
