.wrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--space-m-l);
  align-items: center;
}

.logo {
  &__wrapper {
    align-items: center;
    display: flex;
    gap: var(--space-m-l);
  }

  &__image {
    width: var(--space-xl-3xl);
    height: var(--space-xl-3xl);
  }
}
