@import './partials/normalize';
@import './partials/fonts';
@import './partials/spaces';

/* Container Grid */
:root {
  --grid-max-width: 77.5rem;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem)
  );
  --grid-columns: 12;
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.content {
  margin-top: var(--space-xl-5xl);
}
