.wrapper {
  display: flex;

  &--section {
    flex-direction: column;
    gap: var(--space-m-l);
    padding-top: var(--space-2xl-6xl);
    padding-bottom: var(--space-2xl-7xl);
  }

  &--header {
    flex-direction: column;
    gap: var(--space-3xs-2xs);
  }

  &--title {
    justify-content: space-between;
    align-items: center;
  }
}
