.wrapper {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: var(--space-15-20);

  @media only screen and (width <= 768px) {
    grid-column: span 3;
  }

  @media only screen and (width <= 480px) {
    grid-column: span 2;
  }
}

.title {
  &::after {
    margin-top: var(--space-10-15);
    display: block;
    content: '';
    width: var(--space-30-40);
    height: 1px;
    background: var(--accent-secondary);
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: var(--space-5-10);
  list-style: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;
  list-style: none;
}

.tag {
  display: block;
  padding: 5px var(--space-10-15);
  border: 1px solid var(--font-primary);
  border-radius: 15px;
}
