.wrapper {
  grid-column: span 4;

  @media only screen and (width <= 768px) {
    grid-column: span 3;
  }

  @media only screen and (width <= 480px) {
    grid-column: span 2;
  }
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
}

.content {
  &__wrapper {
    padding: var(--space-15-20) var(--space-15-20) 0 var(--space-15-20);
    display: flex;
    flex-direction: column;
    gap: var(--space-15-20);
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-30-40);
    row-gap: var(--space-20-25);

    &__date {
      opacity: 0.6;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-15);
  }
}
