.wrapper {
  display: flex;

  &--section {
    flex-direction: column;
    gap: var(--space-m-l);
    padding-top: var(--space-2xl-6xl);
    padding-bottom: var(--space-2xl-7xl);
  }

  &--header {
    flex-direction: column;
    gap: var(--space-3xs-2xs);
  }

  &--title {
    justify-content: space-between;
    align-items: center;
  }
}

.card {
  &__wrapper {
    grid-column: span 4;
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  &__description {
    padding-top: var(--space-xs-s);
  }

  &__title {
    padding-top: var(--space-4xs);
  }
}

@media only screen and (width <= 768px) {
  .card {
    &__wrapper {
      grid-column: span 3;
    }
  }
}

@media only screen and (width <= 480px) {
  .card {
    &__wrapper {
      grid-column: span 6;
    }
  }
}
