.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gutter);
  row-gap: var(--space-40-60);

  @media only screen and (width <= 768px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media only screen and (width <= 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
