.heading {
  font-family: var(--font-spectral);
  font-weight: 300;
  line-height: 150%;

  &--h1 {
    @extend .heading;

    font-size: var(--font-27-39);
  }

  &--h2 {
    @extend .heading;

    font-size: var(--font-23-31);
  }

  &--h3 {
    @extend .heading;

    font-size: var(--font-19-25);
  }

  &--h4 {
    @extend .heading;

    font-size: var(--font-16-20);
  }
}

.paragraph {
  font-family: var(--font-jost);
  line-height: 100%;
  letter-spacing: 0.015em;

  &--regular-m {
    @extend .paragraph;

    font-weight: 400;
    font-size: var(--font-16-20);
  }

  &--regular-s {
    @extend .paragraph;

    font-weight: 400;
    font-size: var(--font-13-16);
  }

  &--light-s {
    @extend .paragraph;

    font-weight: 300;
    line-height: 150%;
    font-size: var(--font-13-16);
  }

  &--light-xs {
    @extend .paragraph;

    font-weight: 300;
    font-size: var(--font-11-12);
  }
}

.uppercase {
  font-family: var(--font-jost);
  line-height: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  &--semi-bold-xs {
    @extend .uppercase;

    font-weight: 600;
    font-size: var(--font-11-12);
  }

  &--regular-xs {
    @extend .uppercase;

    font-weight: 400;
    font-size: var(--font-11-12);
  }

  &--regular-2xs {
    @extend .uppercase;

    font-weight: 400;
    font-size: var(--font-9-10);
  }
}
