.wrapper {
  padding-top: var(--space-40-60);
}

.content {
  grid-column: 4 / 10;

  @media only screen and (width <= 1024px) {
    grid-column: span 6;
  }

  @media only screen and (width <= 640px) {
    grid-column: span 2;
  }
}
