@font-face {
  font-family: 'Fjalla One', sans-serif;
  src: url('../public/fonts/fjallaone-regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('../public/fonts/nunito-regular.ttf');
  font-weight: 400;
}
