%layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout {
  &--wide {
    @extend %layout;

    grid-column: 3 / 11;

    @media only screen and (width <= 768px) {
      grid-column: span 6;
    }

    @media only screen and (width <= 480px) {
      grid-column: span 2;
    }
  }

  &--left {
    @extend %layout;

    grid-column: 3 / 7;

    @media only screen and (width <= 768px) {
      grid-column: 1 / 4;
    }

    @media only screen and (width <= 480px) {
      grid-column: span 2;
    }
  }

  &--right {
    @extend %layout;

    grid-column: 7 / 11;

    @media only screen and (width <= 768px) {
      grid-column: 4 / 7;
    }

    @media only screen and (width <= 480px) {
      grid-column: span 2;
    }
  }

  &--left-split {
    @extend %layout;

    grid-column: 3 / 7;
    justify-content: start;

    @media only screen and (width <= 768px) {
      grid-column: 1 / 4;
    }

    @media only screen and (width <= 480px) {
      grid-column: span 2;
    }
  }
}

.image {
  height: auto;
}
