.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--wide {
    @extend .layout;
    grid-column: 3 / 11;
  }
  &--left {
    @extend .layout;
    grid-column: 3 / 7;
  }
  &--right {
    @extend .layout;
    grid-column: 7 / 11;
  }
}

.image {
  height: auto;
}

@media only screen and (width <= 768px) {
  .layout {
    &--wide {
      grid-column: span 6;
    }

    &--left {
      grid-column: 1 / 4;
    }

    &--right {
      grid-column: 4 / 7;
    }
  }
}

@media only screen and (width <= 480px) {
  .layout {
    &--wide,
    &--left,
    &--right {
      grid-column: span 2;
    }
  }
}
