@use '@/style/partials/mixins';

.wrapper {
  padding: var(--space-20-40) var(--space-40-60-wide);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
  gap: var(--space-40-50);
}

.menu {
  display: none;
}

@include mixins.desktop {
  .wrapper {
    padding: var(--space-20-40) var(--space-30-40);
  }
}

@include mixins.tablet {
  .navigation {
    display: none;
  }

  .menu {
    display: block;
    border: none;
    background: none;
  }
}
